<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></link>

    <title>CV</title>
</head>

<style>
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .font-xs {
        font-size: 11px;
        line-height: 5px;
    }

    .font-sm {
        font-size: 13px;
    }

    .font-md {
        font-size: 18px;
    }

    .font-lg {
        font-size: 25px;
    }

    .bold {
        font-weight: bold;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .camelcase {
        text-transform: capitalize;
    }

    .color-pri {
        color: rgb(25, 61, 95);
    }

    .color-sec {
        color: rgb(255, 128, 0);
    }

    .color-text1 {
        color: rgb(80, 80, 80);
    }

    .color-text2 {
        color: rgb(40, 40, 40);
    }


    a {
        text-decoration: none;
        color: inherit;

    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .profile-img {
        width: 135px;
        height: 135px;
        border: 3px solid white;
        background: white;
        border-radius: 100px;
    }

    .profile-img-holder {
        width: 141px;
        margin: -75px 0px 0px 40px;
        float: left;
    }

    .profile-links {
        margin: 0 5px;
    }


    .subtitle {
        padding: 10px 0px;
    }

    .subtitle>span {
        float: left;
        margin-top: -8px;
    }

    .subtitle>hr {
        margin-top: 0px;
        border: 1px solid rgb(255, 128, 0);
    }
</style>

<body style="padding:0px; margin:0px">
    <div id="top" style="margin:auto;max-width:800px; height:1000px;box-shadow:1px 1px 5px rgba(0,0,0,0.3); background:">
        <!-- top area -->
        <div style="height:120px; background:rgb(25, 61, 95)">
            <div style="width:555px; margin:auto; margin-right:40px; padding-top:58px; color:white">
                <div style="min-height:30px;">
                    <div style="float:left;">
                        <span class="font-lg uppercase">Rohit Sharma</span>
                    </div>
                    <div style="float:right;line-height:20px; margin-top:10px">
                        <span class="font-md camelcase">web developer</span>
                        <span class="font-sm camelcase">(full stack)</span>
                    </div>
                </div>
                <div style="min-height:20px;">
                    <hr style="margin:0px; border:1px solid white; width:100%">
                    <table style="width:100%; margin-top:-4px">
                        <tr>
                            <td style="text-align:left">
                                <span class="font-sm">
                                    <a href="mailto:rohitsharma7209@gmail.com" target="_blank">
                                        <i class="fa fa-envelope"></i>
                                        rohitsharma7209@gmail.com
                                    </a>
                                </span>
                            </td>
                            <td style="text-align:center">
                                <span class="font-sm">
                                    <i class="fa fa-phone"></i> +91 7278518017</span>
                            </td>
                            <td style="text-align:right">
                                <span class="font-sm">
                                    <a href="http://rohitsharma.xyz" target="_blank">
                                        <i class="fa fa-globe"></i>
                                        rohitsharma.xyz
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="profile-img-holder">
            <img id="profile-img" class="profile-img" src="https://lh3.googleusercontent.com/-7jvvCnR_vKE/AAAAAAAAAAI/AAAAAAAAAY0/pXq0vXx-rwg/s1080-p-rw-no/photo.jpg"
                alt="profile_image" />


            <!-- social links -->

            <div style="text-align:center;">
                <a href="https://www.linkedin.com/in/rohit-sharma-2846548b">
                    <i class="fa fa-linkedin profile-links" style="color:rgb(0, 119, 181)"></i>
                </a>
                <a href="https://github.com/rohit7209">
                    <i class="fa fa-github-alt profile-links" style="color:#767676"></i>
                </a>
                <a href="http://rohitsharma.xyz">
                    <i class="fa fa-globe profile-links color-sec"></i>
                </a>
            </div>

        </div>

        <!-- Introduction -->
        <div id="intro" class="font-sm" style="overflow:hidden; height:80px; margin:auto; margin-right:36px; width:555px; padding:5px; text-align:justify">
            <span class="uppercase bold color-sec">who am i: </span>
            <span class="color-text1">
                The Internet of things (IoT) is the network of physical devices, vehicles, home appliances, and other items embedded with
                electronics, software, sensors, actuators, and network connectivity which enable these objects to connect
                and exchange data.[1][2][3] Each thing is uniquely identifiable through its embedded computing system but
                is able to inter-operate within the existing Internet infrastructure. Experts estimate that the IoT will
                consist of about 30 billion objects by 2020.[4]The term "the Internet of things" was coined by Kevin Ashton
                of Procter & Gamble, later MITs Auto-ID Center, in 1999.
            </span>
        </div>


        <!-- Main body -->
        <div style="background:yellow; width:708px; min-height:110px; margin:auto; margin-top:10px;">
            <div style="width:calc(50% - 16px); padding-right:16px; float:left;">
                <!-- Education details -->
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">Education&nbsp;</span>
                        <hr>
                    </div>
                    <table class="data-table" style="width:100%; line-height:13px">
                        <tr>
                            <td valign="top" style="min-width:155px">
                                <span class="font-xs bold uppercase color-sec">2015-2016</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">Jawahar Navodaya vidyalaya</span>
                            </td>
                            <td style="border-bottom:1px solid grey; padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">HIGHER SECONDARY</span>
                                <br>
                                <span class="font-xs color-text1">Passed out XII standard in 2013 with 72% aggregate (Science Discipline) in CBSE curriculum.</span>
                                
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <span class="font-xs bold uppercase color-sec">2011-2013</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">DAV Kapildev public school</span>
                            </td>
                            <td style="border-bottom:1px solid grey; padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">SECONDARY</span>
                                <br>
                                <span class="font-xs color-text1">Passed out X standard in 2010 with 9.4 CGPA in CBSE curriculum.</span>
                                
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <span class="font-xs bold uppercase color-sec">2013-2017</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">Asansol Engineering College</span>
                            </td>
                            <td style="padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">Graduation (B. Tech.)</span>
                                <br>
                                <span class="font-xs color-text1">Passed out in 2017 with 7.56 GPA in aggregate (CSE discipline).</span>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">Professional Skills&nbsp;</span>
                        <hr>
                    </div>
                </div>

                
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">Professional Interest&nbsp;</span>
                        <hr>
                    </div>
                </div>
            </div>
            
            <div style="width:calc(50% - 16px); padding-left:16px; float:right">
                <!-- Experience details -->
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">Experience&nbsp;</span>
                        <hr>
                    </div>
    
                    <table class="data-table" style="width:100%; line-height:13px">
                        <tr>
                            <td valign="top" style="min-width:155px">
                                <span class="font-xs bold uppercase color-sec">july 2017 - till now</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">Mindtree ltd</span>
                            </td>
                            <td style="border-bottom:1px solid grey; padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">Engineer (c1)</span>
                                <br>
                                <span class="font-xs color-text1">Trained and working as webtech full stack engineer (reactjs, js, java)</span>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <span class="font-xs bold uppercase color-sec">2011-2013</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">DAV Kapildev public school</span>
                            </td>
                            <td style="border-bottom:1px solid grey; padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">SECONDARY</span>
                                <br>
                                <span class="font-xs color-text1">Passed out X standard in 2010 with 9.4 CGPA in CBSE curriculum.</span>
                                
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <span class="font-xs bold uppercase color-sec">2013-2017</span>
                                <br>
                                <span class="font-xs bold camelcase color-text2">Asansol Engineering College</span>
                            </td>
                            <td style="padding-bottom:10px">
                                <span class="font-xs bold uppercase color-text2">Graduation (B. Tech.)</span>
                                <br>
                                <span class="font-xs color-text1">Passed out in 2017 with 7.56 GPA in aggregate (CSE discipline).</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">Personal Qualities&nbsp;</span>
                        <hr>
                    </div>
    
                    <table class="data-table" style="width:100%; line-height:13px">
                    </table>
                </div>
                <div>
                    <div class="subtitle">
                        <span class="font-sm uppercase bold color-pri">More about me&nbsp;</span>
                        <hr>
                    </div>
    
                    <table class="data-table" style="width:100%; line-height:13px">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        //document.getElementById("top").innerHTML='The Internet of things (IoT) is the network of physical devices, vehicles, home appliances, and other items embedded with electronics, software, sensors, actuators, and network connectivity which enable these objects to connect and exchange data.[1][2][3] Each thing is uniquely identifiable through its embedded computing system but is able to inter-operate within the existing Internet infrastructure. Experts estimate that the IoT will consist of about 30 billion objects by 2020.[4]The term "the Internet of things" was coined by Kevin Ashton of Procter & Gamble, later MITs Auto-ID Center, in 1999.';
        /*
                derEach thing is uniquely identifiable through its embedded computing system but is able to inter-operate within the existing
                Internet infrastructure. Experts estimate that the IoT will consist of about 30 billion objects by 2020.[4]The
                term "the Internet of things" was coined by Kevin Ashton of Procter & Gamble, later MITs Auto-ID Center,
                in 1999.*/
    </script>
</body>

</html>